@import "tailwindcss";

@theme {
  --color-primary: #104b7a;
  --color-secondary: #5dbbdd;
  --color-neutral: #f5f1ed;
}

body {
  background-color: var(--color-neutral);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}
